<!-- Modal para agregar nuevo evento -->
<div class="modal-header">
  <h4 class="modal-title">
    <i
      style="vertical-align: text-top"
      class="ki-duotone ki-calendar-add text-gray-900 fs-1"
      ><span class="path1"></span><span class="path2"></span
      ><span class="path3"></span><span class="path4"></span
      ><span class="path5"></span><span class="path6"></span
    ></i>
    Registrar Nueva Cita
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
    aria-label="Close"
    (click)="closeModal()"
  >
    <i class="ki-duotone ki-cross-square fs-1"
      ><span class="path1"></span><span class="path2"></span
    ></i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="eventForm" class="form d-flex flex-column gap-4">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label" for="kt_calendar_datepicker_date"
          >Fecha de Inicio</label
        >
        <input
          type="text"
          mwlFlatpickr
          [locale]="es"
          altFormat="d/m/Y"
          [disableMobile]="true"
          [monthSelectorType]="'dropdown'"
          [altInput]="true"
          class="form-control"
          id="kt_calendar_datepicker_date"
          formControlName="fecha_inicio"
          placeholder="Seleccionar Fecha"
        />
      </div>
      <div class="form-group col-md-6 mb-3">
        <label class="form-label" for="patient_selection"
          >Seleccionar Paciente</label
        >
        <ng-select
          formControlName="id_paciente"
          [loading]="loadingPacientes"
          [items]="pacientesList | async"
          bindValue="id_paciente"
          [loadingText]="'Cargando..'"
          placeholder="Seleccionar"
          bindLabel="nombre"
        ></ng-select>
      </div>
      <!-- <div class="form-group col-3 mb-3">
        <label class="form-label" for="id_paquete">Tipo de Cita</label>
        <ng-select
          (change)="changeTipoCita($event)"
          formControlName="id_tipocita"
          [loading]="loadingTipoCitas"
          [items]="tipoCitasList | async"
          bindValue="id_tipocita"
          [loadingText]="'Cargando..'"
          placeholder="Seleccionar"
          bindLabel="nombre"
        ></ng-select>
      </div> -->
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label class="form-label" for="id_paquete">Seleccionar Sede</label>
        <ng-select
          formControlName="id_sede"
          [items]="sedesList | async"
          [loading]="loadingSedes"
          bindValue="id_sede"
          [loadingText]="'Cargando..'"
          placeholder="Seleccionar"
          bindLabel="nombre"
        ></ng-select>
      </div>

      <div class="form-group col-6">
        <label class="form-label" for="id_paquete">Seleccionar Paquete</label>
        <ng-select
          formControlName="id_paquete"
          [items]="paquetesList | async"
          [loading]="loadingPaquetes"
          (change)="changePaquete($event)"
          bindValue="id_paquetes"
          [loadingText]="'Cargando..'"
          placeholder="Seleccionar"
          bindLabel="nombre"
        ></ng-select>
      </div>
    </div>

    <div *ngIf="(selectedPackageSubject | async) !== null" class="row">
      <div class="form-group col-md-6">
        <label class="form-label" for="id_paquete"
          >Total de Sesiones Paquete</label
        >
        <input
          readonly
          type="number"
          class="form-control bg-light"
          [value]="selectedPaquete.cantidadsesiones"
        />
      </div>
      <div class="form-group col-md-6">
        <label class="form-label" for="id_paquete">Método de Pago</label>
        <ng-select
          [items]="metodosPago"
          placeholder="Seleccionar"
          formControlName="metodo_pago"
        />
      </div>
    </div>

    <div formArrayName="detalle">
      <div class="d-flex justify-content-between align-items-center">
        <label class="form-label fw-bolder fs-5" for=""
          >Detalle de la Cita</label
        >
        <button
          type="button"
          *ngIf="isRecurrente"
          class="btn btn-primary fs-10 btn-sm btn-icon"
          (click)="addInfoTerapia()"
        >
          <span
            ><i class="ki-duotone ki-plus">
              <span class="path1"></span><span class="path2"></span> </i
          ></span>
        </button>
      </div>
      <ng-container *ngFor="let terapia of detalle.controls; let i = index">
        <div
          class="form-group d-flex flex-column gap-3 position-relative p-4 border-2 mt-2 border-dashed border-gray-300 rounded"
          [formGroupName]="i"
        >
          <div
            *ngIf="i > 0"
            class="position-absolute end-0"
            style="transform: translateY(-18px) translateX(12px)"
          >
            <button
              class="btn btn-sm fs-10 btn-icon btn-active-color-danger btn-danger"
              (click)="removeInfoTerapia(i)"
            >
              <i class="ki-solid ki-cross"></i>
            </button>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="form-label" for="">Terapia</label>
              <ng-select
                [items]="terapiasListItems[i]?.observable | async"
                [loading]="terapiasListItems[i]?.loading | async"
                bindValue="id_terapia"
                [loadingText]="'Cargando..'"
                placeholder="Seleccionar"
                bindLabel="nombre"
                (change)="getTerapiaId($event, i)"
                formControlName="id_terapia"
              ></ng-select>
            </div>
            <div class="col-6">
              <label class="form-label" for="">Especialista</label>
              <ng-select
                [items]="avaiblePersonal[i]"
                bindValue="id_personal"
                [loadingText]="'Cargando..'"
                placeholder="Seleccionar"
                bindLabel="nombre"
                formControlName="id_personal"
              ></ng-select>
            </div>
          </div>

          <div class="row" *ngIf="(selectedPackageSubject | async) !== null">
            <div class="col-6">
              <label class="form-label">N° Sesiones</label>
              <input
                type="number"
                class="form-control"
                formControlName="num_sesiones"
                min="1"
              />
            </div>

            <div
              class="col-6"
              *ngIf="eventForm.get('detalle').at(i).get('id_personal').value"
            >
              <button
                [disableTooltip]="eventForm.get('fecha_inicio').value"
                [ngbTooltip]="'Seleccione una fecha'"
                [disabled]="!eventForm.get('fecha_inicio').value"
                type="button"
                class="btn btn-primary"
                (click)="showHorarios(i)"
              >
                {{ selectedHorarios[i] ? "Cambiar Horarios" : "Ver Horarios" }}
              </button>
            </div>

            <div class="mt-5" *ngIf="selectedHorarios[i]">
              <div class="border p-3 rounded-1">
                <span class="fw-bold fs-5">Horarios Seleccionados</span>
                <div class="d-flex align-items-center py-2 gap-2">
                  <div *ngFor="let horario of selectedHorarios[i]">
                    <div class="badge badge-secondary">
                      <span class="fw-bold me-2">{{ horario.day }}</span>
                      <span class="fw-bold me-2"
                        >{{ horario.selectedSlot.start_time }} -
                        {{ horario.selectedSlot.end_time }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>

<div *ngIf="!event" class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">
    Cancelar
  </button>
  <button
    type="button"
    [disabled]="eventForm.invalid"
    class="btn btn-primary"
    (click)="submitEvent()"
  >
    Guardar
  </button>
</div>
