<div class="content d-flex flex-column flex-column-fluid">
  <div class="card shadow p-2 px-4">
    <div class="d-flex py-4 justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-light-primary" (click)="loadTabla()">
          <span class="d-flex align-items-center">
            <span class="fa-solid fa-rotate-right"></span>
            <span class="ms-2">Actualizar</span>
          </span>
        </button>
      </div>


      <button
        type="button"
        class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
        aria-label="Close"
        (click)="close()"
      >
        <i class="ki-duotone ki-cross-square fs-1">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      </button>
    </div>

    <div id="myGrid" [ngClass]="[theme.getThemeMode() === 'light' ? 'ag-theme-quartz' : 'ag-theme-quartz-dark']" style="width: 100%; height: 70vh;">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        [rowData]="reportesList | async"
        [loading]="isLoading"
        [columnDefs]="colDefs"
        [enableCellTextSelection]="true"
        [localeText]="localeText"
        (gridReady)="gridReady($event)"
        [pagination]="true">
      </ag-grid-angular>
    </div>
  </div>
</div>
