<app-header>
  <ng-container header-title>
    <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
      Cronograma General
    </h1>
  </ng-container>
</app-header>

<div class="content d-flex flex-column flex-column-fluid">
  <div class="container-xxl" id="kt_content_container">
    <!--begin::Card-->
    <div class="card">
      <!--begin::Card header-->
      <div class="card-header">
        <h2 class="card-title fw-bold">{{ cronogramaActual?.nombre }}</h2>
        <div class="card-toolbar d-flex">
          <button class="btn btn-flex btn-primary me-2" (click)="openModal()">
            <i class="ki-duotone ki-plus fs-2"></i> Agregar Citas
          </button>
         <div>
          <ng-select [items]="terapiasList" bindLabel="nombre" (change)="handleSelectChange($event)" placeholder="Seleccionar Terapia" bindValue="id_terapia"></ng-select>
         </div>
        </div>
      </div>

      <div
        class="card-body"
        style="
          border: none;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 0 0 15px 15px;
        "
      >
        <div class="demo-app-main">
         @defer () {
          <full-calendar *ngIf="calendarVisible" [loading]=" isLoading | async" [events]="citasEvent | async" [options]="calendarOptions">
          </full-calendar>
         }@placeholder() {
          <div
          class="d-flex justify-content-center align-items-center"
          style="height: 100%"
        >
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
         }
        </div>
      </div>
    </div>
  </div>
</div>
