<div class="modal-header">
  <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
    <span class="text-primary">
      <i style="vertical-align: middle;" class="ki-duotone ki-add-files text-gray-900 fs-1">
        <span class="path1"></span><span class="path2"></span>
        <span class="path3"></span></i>
      </span>
    Añadir Terapia
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
    aria-label="Close"
    (click)="close()"
  >
    <i class="ki-duotone ki-cross-square fs-1"
      ><span class="path1"></span><span class="path2"></span
    ></i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="terapiaForm" class="form d-flex flex-column gap-4">
    <div class="form-group">
      <label class="required form-label" for="name"> Nombre </label>
      <input
        formControlName="nombre"
        id="name"
        type="text"
        class="form-control"
        placeholder="Ingresar Nombre"
      />
    </div>
    <div class="form-group">
      <label class=" form-label" for="description"> Descripción </label>
      <textarea
        formControlName="descripcion"
        id="description"
        type="text"
        class="form-control"
        data-kt-autosize="true"
        placeholder="Ingresar Descripción de la Terapia"
      ></textarea>
    </div>

    <div class="form-group">
      <label class="required form-label" for="price"> Precio </label>
      <input
        formControlName="precio"
        type="number"
        step="0.01"
        min="0"
        class="form-control"
        placeholder="Ingresar Precio de la Terapia"
      />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()">
    Cancelar
  </button>
  <button
    [disabled]="terapiaForm.invalid || (isLoading | async)"
    type="button"
    class="btn btn-primary"
    (click)="save()"
  >
    Guardar
    <span
      *ngIf="isLoading | async"
      class="spinner-border spinner-border-sm align-middle ms-2"
    ></span>
  </button>
</div>
