<main
  id="kt_body"
  class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled"
>
  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
      <!--begin::Aside-->
      <div
        id="kt_aside"
        class="aside"
        data-kt-drawer="true"
        data-kt-drawer-name="aside"
        data-kt-drawer-activate="{default: true, lg: false}"
        data-kt-drawer-overlay="true"
        data-kt-drawer-width="auto"
        data-kt-drawer-direction="start"
        data-kt-drawer-toggle="#kt_aside_toggle"
      >
        <!--begin::Logo-->
        <div
          class="aside-logo flex-column-auto pt-10"
          id=""
          style="border-right: 1px solid #ccc"
        >
          <a routerLink="/dashboard">
            <img
              alt="Logo"
              src="assets/media/logos/usuario.svg"
              class="h-70px"
              title="Paciente"
            />
          </a>
        </div>
        <!--end::Logo-->
        <!--begin::Nav-->
        <div
          class="aside-menu flex-column-fluid pt-0 pb-7 py-lg-10"
          id="kt_aside_menu"
          style="border-right: 1px solid #ccc"
        >
          <!--begin::Aside menu-->
          <div id="kt_aside_menu_wrapper" class="">
            <div id="" class="menu-column">
              <div
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                data-kt-menu-placement="right-start"
                class="menu-item py-2"
                style="border-radius: 15px; background: rgb(245, 248, 250, 0.8)"
              >
                <!--begin:Menu link-->
                <span class="menu-link menu-center">
                  <span class="menu-icon me-0">
                    <i class="ki-duotone ki-home-2 fs-2x">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>
                  </span>
                </span>
              </div>
              <!--begin:Menu item-->
              <div
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                data-kt-menu-placement="right-start"
                class="menu-item py-2"
                style="transition: background-color 0.3s; border-radius: 15px"
                onmouseover="this.style.backgroundColor='rgb(245,248,250,0.8)';"
                onmouseout="this.style.backgroundColor='';"
                (click)="navigateToSedes($event)"
              >
                <span class="menu-link menu-center">
                  <span class="menu-icon me-0">
                    <i class="ki-duotone ki-notification-status fs-2x">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                    </i>
                  </span>
                </span>
              </div>
              <!--end:Menu item-->
              <!--begin:Menu item-->
              <div
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                data-kt-menu-placement="right-start"
                class="menu-item py-2"
                style="transition: background-color 0.3s; border-radius: 15px"
                onmouseover="this.style.backgroundColor='rgb(245,248,250,0.8)';"
                onmouseout="this.style.backgroundColor='';"
                (click)="navigateToReservarCita($event)"
              >
                <!--begin:Menu link-->
                <span class="menu-link menu-center">
                  <span class="menu-icon me-0">
                    <i class="ki-duotone ki-abstract-35 fs-2x">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>
                  </span>
                </span>
                <!--end:Menu link-->
                <!--begin:Menu sub-->

                <!--end:Menu sub-->
              </div>
              <!--end:Menu item-->
              <!--begin:Menu item-->
              <div
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                data-kt-menu-placement="right-start"
                class="menu-item py-2"
                style="transition: background-color 0.3s; border-radius: 15px"
                onmouseover="this.style.backgroundColor='rgb(245,248,250,0.8)';"
                onmouseout="this.style.backgroundColor='';"
              >
                <!--begin:Menu link-->
                <span class="menu-link menu-center">
                  <span class="menu-icon me-0">
                    <i class="ki-duotone ki-abstract-26 fs-2x">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>
                  </span>
                </span>
                <!--end:Menu link-->
                <!--begin:Menu sub-->
                <div
                  class="menu-sub menu-sub-dropdown menu-sub-indention px-2 py-4 w-250px mh-75 overflow-auto"
                >
                  <!--begin:Menu item-->
                  <div class="menu-item">
                    <!--begin:Menu content-->
                    <div class="menu-content">
                      <span class="menu-section fs-5 fw-bolder ps-1 py-1"
                        >Utilities</span
                      >
                    </div>
                    <!--end:Menu content-->
                  </div>
                  <!--end:Menu item-->

                  <!--begin:Menu item-->
                  <div
                    data-kt-menu-trigger="click"
                    class="menu-item menu-accordion"
                  >
                    <div class="menu-item">
                      <!--begin:Menu link-->
                      <a
                        class="menu-link"
                        href="utilities/wizards/create-account.html"
                      >
                        <span class="menu-bullet">
                          <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Create Account</span>
                      </a>
                      <!--end:Menu link-->
                    </div>
                  </div>
                  <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->
              </div>
              <!--end:Menu sub-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div
              data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
              data-kt-menu-placement="right-start"
              class="menu-item py-2"
              style="transition: background-color 0.3s; border-radius: 15px"
              onmouseover="this.style.backgroundColor='rgb(245,248,250,0.8)';"
              onmouseout="this.style.backgroundColor='';"
            >
              <!--begin:Menu link-->
              <span class="menu-link menu-center">
                <span class="menu-icon me-0">
                  <i class="ki-duotone ki-briefcase fs-2x">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                </span>
              </span>
              <!--end:Menu link-->
            </div>

            <!--end:Menu item-->
          </div>
        </div>
        <!--end::Aside menu-->
      </div>
      <!--end::Nav-->
    </div>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Header tablet and mobile-->
      <div class="header-mobile py-3">
        <!--begin::Container-->
        <div class="container d-flex flex-stack">
          <!--begin::Mobile logo-->
          <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a href="index.html">
              <img
                alt="Logo"
                src="assets/media/logos/demo9.svg"
                class="h-35px"
              />
            </a>
          </div>
          <!--end::Mobile logo-->
          <!--begin::Aside toggle-->
          <button
            class="btn btn-icon btn-active-color-primary me-n4"
            id="kt_aside_toggle"
          >
            <i class="ki-duotone ki-abstract-14 fs-2x">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </button>
          <!--end::Aside toggle-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::Header tablet and mobile-->
      <!-- <app-header>
          <ng-container header-title>
            <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
              <span class="" style="color: white">Dashboard</span>
              <small class="fs-6 fw-normal pt-2" style="color: gray"
                >Create a store with #YDR-124-346 code</small
              >
            </h1>
          </ng-container>
        </app-header> -->

      <!--begin::Content-->
        <ng-content></ng-content>
      <!--end::Content-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
  <!--end::Root-->
</main>
