<main id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled">
  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
      <!--begin::Aside-->
      <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside"
        data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto"
        data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
        <!--begin::Logo-->
        <div class="aside-logo position-relative flex-column-auto pt-10" id="">
          <a class="position-relative" style="width: 100%;height: 54.44px;" routerLink="/dashboard">
            <img alt="Logo" ngSrc="assets/media/logos/file.png" fill class="img-fluid px-4" title="Pediatriks" />
          </a>
        </div>
        <!--end::Logo-->
        <!--begin::Nav-->
        <div class="aside-menu flex-column-fluid pt-0 pb-7 py-lg-10" id="kt_aside_menu">
          <!--begin::Aside menu-->
          <div id="kt_aside_menu_wrapper" class="w-100 hover-scroll-y scroll-lg-ms d-flex">
            <div id=""
              class="menu menu-column menu-title-gray-600 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-icon-gray-500 menu-arrow-gray-500 fw-semibold fs-6 my-auto">
              <div routerLinkActive="here" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                data-kt-menu-placement="right-start" class="menu-item py-2"
                style="transition: background-color 0.3s; border-radius: 15px"
                onmouseout="this.style.backgroundColor='';" (click)="navigateToInicio($event)">
                <span class="menu-link menu-center">
                  <div class="menu-icon-text-container">
                    <span class="menu-icon me-0">
                      <i class="ki-duotone ki-home-2 fs-2x">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </span>
                    <span class="menu-text">Inicio</span>
                  </div>
                </span>
              </div>

              <a *ngIf="isTerapista()" routerLink="/terapista/asistencia" routerLinkActive="here"
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start"
                class="menu-item py-2" style="transition: background-color 0.3s; border-radius: 15px"
                onmouseout="this.style.backgroundColor='';">
                <!--begin:Menu link-->
                <span class="menu-link menu-center">
                  <div class="menu-icon-text-container">
                    <span class="menu-icon me-0">
                      <i class="ki-duotone ki-timer fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                      </i>
                    </span>
                    <span class="menu-text">Asistencia</span>
                  </div>
                </span>
              </a>

              <!--begin:Menu item-->
              <a *ngIf="!isPaciente()" [routerLink]="[isAdmin() ? '/admin/reservar-cita' : '/terapista/citas']"
                routerLinkActive="here" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                data-kt-menu-placement="right-start" class="menu-item py-2"
                style="transition: background-color 0.3s; border-radius: 15px"
                onmouseout="this.style.backgroundColor='';">
                <!--begin:Menu link-->
                <span class="menu-link menu-center">
                  <div class="menu-icon-text-container">
                    <span class="menu-icon me-0">
                      <i class="ki-duotone ki-calendar-add" style="font-size: 2em;">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                      </i>
                    </span>
                    <span class="menu-text">Citas</span>
                  </div>
                </span>
                <!--end:Menu link-->
                <!--begin:Menu sub-->

                <!--end:Menu sub-->
              </a>

              <a *ngIf="isTerapista()" [routerLink]="['/terapista/fichas']" routerLinkActive="here"
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start"
                class="menu-item py-2" style="transition: background-color 0.3s; border-radius: 15px">
                <!--begin:Menu link-->
                <span class="menu-link menu-center">
                  <div class="menu-icon-text-container">
                    <span class="menu-icon me-0">
                      <i class="ki-duotone ki-book-square  fs-2tx"><span class="path1"></span><span
                          class="path2"></span><span class="path3"></span></i>
                    </span>
                    <span class="menu-text">Fichas</span>
                  </div>
                </span>
                <!--end:Menu link-->
                <!--begin:Menu sub-->

                <!--end:Menu sub-->
              </a>

              <!--begin:Menu item-->
              <div id=""
                class="menu menu-column menu-title-gray-600 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-icon-gray-500 menu-arrow-gray-500 fw-semibold fs-6 my-auto">
                <div *ngIf="isTerapista() || isAdmin()" routerLinkActive="here"
                  data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start"
                  class="menu-item py-2" style="transition: background-color 0.3s; border-radius: 15px"
                  onmouseout="this.style.backgroundColor='';" (click)="navigateToInventario($event)">
                  <span class="menu-link menu-center">
                    <div class="menu-icon-text-container">
                      <span class="menu-icon me-0">
                        <i class="ki-duotone ki-lots-shopping" style="font-size: 2em;">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span>
                        </i>
                      </span>
                      <span class="menu-text">Inventario</span>
                    </div>
                  </span>
                </div>
              </div>



              <!--end:Menu item-->
              <!--begin:Menu item-->
              <!--begin:Menu item-->
              <a routerLink="/paquetes" routerLinkActive="here" *ngIf="isPaciente()" class="menu-item py-2"
                style="transition: background-color 0.3s; border-radius: 15px"
                onmouseout="this.style.backgroundColor='';">
                <span class="menu-link menu-center">
                  <div class="menu-icon-text-container">
                    <span class="menu-icon me-0">
                      <i class="ki-duotone ki-briefcase fs-2x">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </span>
                    <span class="menu-text">Paquetes</span>
                  </div>
                </span>
              </a>
              <!--end:Menu item-->
              <!--end:Menu sub-->

              <div *ngIf="isAdmin()" class="menu-item py-2 menu-dropdown"
                style="transition: background-color 0.3s; border-radius: 15px" (mouseenter)="showSubMenu = true"
                (mouseleave)="showSubMenu = false">
                <span class="menu-link menu-center">
                  <div class="menu-icon-text-container">
                    <span class="menu-icon me-0">
                      <i class="ki-duotone ki-user-tick" style="font-size: 2em;">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                      </i>
                    </span>
                    <span class="menu-text">Administración</span>
                  </div>
                </span>

                <!-- Submenú -->
                <div class="menu-sub menu-sub-dropdown px-2 py-4 w-250px mh-75 overflow-auto"
                  style="z-index:107; position:fixed; transition: all cubic-bezier(0.5, 0, 0, 1) 0.3s; margin:0px; transform: translate(50%, -100%);"
                  *ngIf="showSubMenu" [ngStyle]="{ display: showSubMenu ? 'inline-block' : 'none' }">
                  <div class="menu-item">
                    <div class="menu-content">
                      <span class="menu-section fs-5 fw-bolder ps-1 py-1">Admin</span>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="menu-content" *ngFor="let item of adminList">
                      <a routerLink="{{ item.link }}" [routerLinkActive]="['active']" #activeLink="routerLinkActive"
                        class="menu-link">
                        <span class="menu-bullet">
                          <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-tittle">{{ item.nombre }}</span>
                      </a>
                    </div>
                  </div>

                </div>
              </div>


            </div>


            <!--end:Menu item-->
            <!--begin:Menu item-->

            <!--end:Menu item-->
          </div>
        </div>
        <!--end::Aside menu-->
      </div>
      <!--end::Nav-->
    </div>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Header tablet and mobile-->
      <div class="header-mobile py-3">
        <!--begin::Container-->
        <div class="container d-flex flex-stack">
          <!--begin::Mobile logo-->
          <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a routerLink="/dashboard">
              <img alt="Logo" src="assets/media/logos/file.png" class="img-fluid h-35px" title="Pediatriks" />
            </a>
          </div>
          <!--end::Mobile logo-->
          <!--begin::Aside toggle-->
          <button type="button" (click)="openOffcanvas()" [ngClass]="{ 'btn-active-color-primary active': open }"
            class="btn btn-icon me-n4" id="kt_aside_toggle">
            <i class="ki-duotone ki-abstract-14 fs-2x">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </button>
          <!--end::Aside toggle-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::Header tablet and mobile-->
      <!-- <app-header>
          <ng-container header-title>
            <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
              <span class="" style="color: white">Dashboard</span>
              <small class="fs-6 fw-normal pt-2" style="color: gray"
                >Create a store with #YDR-124-346 code</small
              >
            </h1>
          </ng-container>
        </app-header> -->

      <!--begin::Content-->
      <ng-content></ng-content>
      <!--end::Content-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
  <!--end::Root-->
</main>