<div class="modal-header">
    <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
        <span class="text-primary">
            <i class="ki-duotone ki-time text-gray-900 fs-2x"><span class="path1"></span><span class="path2"></span></i>
        </span>
        Confirmar Asistencia
    </h4>
    <button type="button" class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800" aria-label="Close"
        (click)="close()">
        <i class="ki-duotone ki-cross-square fs-1">
            <span class="path1"></span><span class="path2"></span>
        </i>
    </button>
</div>

<div class="modal-body">
    <form class="d-flex flex-row justify-content-evenly gap-3" [formGroup]="confirmForm">

        <!--begin::Option-->
        <input type="radio" class="btn-check" formControlName="id_status" value="2" checked="checked"
            id="kt_radio_buttons_2_option_1" />
        <label style="min-width: 135px;" class="btn btn-outline btn-outline-success btn-outline-dashed btn-active-light-success p-7 d-flex flex-column gap-2 align-items-center"
            for="kt_radio_buttons_2_option_1">
            <i class="ki-duotone ki-calendar-tick fs-4x"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>
            <span class="d-flex flex-stack justify-content-center fw-semibold text-center">
                <span class="text-gray-900 fw-bold d-block fs-3">Asistió</span>

            </span>
        </label>
        <!--end::Option-->

        <!--begin::Option-->
        <input type="radio" class="btn-check" formControlName="id_status" value="3" id="kt_radio_buttons_2_option_2" />
        <label
            class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger p-7 d-flex flex-column gap-2 align-items-center"
            for="kt_radio_buttons_2_option_2">
            <i class="ki-duotone ki-calendar-remove fs-4x"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>
            <span class="d-block fw-semibold text-start">
                <span class="text-gray-900 fw-bold d-block fs-3">No Asistió</span>
            </span>
        </label>
        <!--end::Option-->
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">
        Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="confirm()"
        [disabled]="confirmForm.invalid || (isLoading | async)">
        <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
        Confirmar
    </button>
</div>