<!--begin::Header-->
<div id="kt_header" class="header py-6 py-lg-0" data-kt-sticky="true" data-kt-sticky-name="header"
  data-kt-sticky-offset="{lg: '300px'}">
  <!--begin::Container-->
  <div class="header-container container-xxl">
    <!--begin::Page title-->
    <div
      class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 py-3 py-lg-0 me-3">
      <!--begin::Header title-->

      <ng-content select="[header-title]"></ng-content>
      <!--end::Header title-->
    </div>
    <!--end::Page title=-->
    <!--begin::Wrapper-->
    <div class="d-flex align-items-center flex-wrap">

      <!--begin::Action-->
      <div class="d-flex align-items-center gap-3 py-3 py-lg-0">
        <!--begin::Item-->
        <app-popover>
          <ng-container popover-toggle>
            <div id="notifications">
              <a class="btn btn-icon btn-custom btn-active-color-primary position-relative" data-kt-menu-trigger="click"
                data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-notification-bing fs-1" style="color: #ffffff">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
                <span
                  class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>
              </a>
            </div>
          </ng-container>

          <ng-container popover-body *ngIf="authService.isAdmin()">
            <div class="d-flex flex-column px-6 py-4">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="fw-semibold">Notificaciones</h3>
                <button (click)="cargarSolicitudes()" class="btn btn-icon btn-sm btn-secondary">
                  <i class="ki-duotone ki-arrows-circle">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                </button>
              </div>
              <span class="fs-8 opacity-75 "> Tienes {{totalsolicitudes}} solicitudes pendientes </span>
            </div>
            <div class="notification-list scroll-y mh-325px my-5 ">
              <!-- Verificar si hay notificaciones pendientes -->
              <div *ngIf="!loading && solicitudesPendientes.length === 0" class="text-center">
                <span class="text-muted">No tienes ninguna notificación pendiente</span>
              </div>

              <div *ngIf="loading" class="row mx-2 gap-2">
                <span class="placeholder col-12 rounded-1 h-5px"></span>
                <span class="placeholder col-12 rounded-1 h-5px"></span>
                <span class="placeholder col-12 rounded-1 h-5px"></span>
              </div>

              <!-- Mostrar la lista de notificaciones si existen -->
              <div *ngFor="let solicitud of solicitudesPendientes"
                class="menu menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold fs-6"
                style="width: 250px">
                <div class="menu-item px-3 py-2">
                  <div class="d-flex align-items-center">
                    <div class="d-flex flex-column">
                      <span class="fw-bold fs-5">Solicitud de {{ solicitud.personal_solicita.nombre }}</span>
                      <span class="text-muted fs-7">Ítem: {{ solicitud.item.nombre }}</span>
                      <span class="text-muted fs-7">Cantidad solicitada: {{ solicitud.cantidad }}</span>
                      <span class="text-muted fs-7">Estado: {{ solicitud.estado.nombre }}</span>
                      <span class="text-muted fs-7">Stock del Terapista: {{ solicitud.stock_terapista }}</span>
                    </div>
                  </div>
                </div>

                <!-- Botones de acción -->
                <div class="menu-item px-3 d-flex justify-content-between">
                  <button (click)="aceptarSolicitud(solicitud.id_solicitud,user.id)"
                    class="btn btn-sm btn-success me-2">Aceptar</button>
                  <button (click)="negarSolicitud(solicitud.id_solicitud,user.id)"
                    class="btn btn-sm btn-danger me-2">Negar</button>
                </div>

                <div class="separator my-2"></div>
              </div>
            </div>
            <div class="py-3 text-center border-top">
              <a (click)="navegarATablaSolicitudes()" class="btn btn-color-gray-600 btn-active-color-primary">Ver todas
                las solicitudes ({{totalsolicitudes - solicitudesPendientes.length}})
                <i class="ki-duotone ki-arrow-right fs-5">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i></a>
            </div>
          </ng-container>
        </app-popover>


        <!--end::Item-->
        <!--begin::Item-->
        <app-popover>
          <ng-container popover-toggle>
            <a class="btn btn-icon btn-custom btn-active-color-primary" data-kt-menu-trigger="click"
              data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
              <i class="ki-duotone ki-user fs-1" style="color: #ffffff">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </a>
          </ng-container>

          <ng-container popover-body>
            <div class="me-3">
              <!--begin::User account menu-->
              <div style="width: 250px"
                class="menu menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold fs-6 "
                data-kt-menu="true">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                  <div class="menu-content d-flex align-items-center px-3">
                    <!--begin::Avatar-->
                    <div class="symbol symbol-50px me-5">
                      <img alt="Logo" src="assets/media/avatars/300-1.jpg" />
                    </div>

                    <!--end::Avatar-->
                    <!--begin::Username-->
                    <div class="d-flex flex-column">
                      <div class="fw-bold d-flex align-items-center fs-5">
                        {{ user?.name }}
                      </div>
                      <span class="text-muted texxt-truncate fw-semibold fs-7">{{ user?.email }}</span>
                    </div>
                    <!--end::Username-->
                  </div>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu separator-->
                <div class="separator my-2"></div>
                <!--end::Menu separator-->
                <!--begin::Menu item-->
                <div class="menu-item pb-2 px-5">
                  <div (click)="logout()" class="menu-link w-100">
                    <i class="ki-duotone ki-exit-right fs-2x"><span class="path1"></span><span class="path2"></span></i>
                    Cerrar sesión
                  </div>
                </div>
                <!--end::Menu item-->
              </div>
            </div>
          </ng-container>
          <!--end::User account menu-->
        </app-popover>

        <!--end::Item-->

        <!--begin::Theme mode-->
        <app-popover>
          <!-- <div class="d-flex align-items-center"> -->
          <!--begin::Menu toggle-->
          <ng-container popover-toggle>
            <button type="button" class="btn btn-icon btn-custom btn-active-color-primary"
              data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent"
              data-kt-menu-placement="bottom-end">
              @if (theme.getThemeMode() == 'light') {
              <i class="ki-duotone ki-night-day theme-light-show fs-1" style="color: #ffffff">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
                <span class="path6"></span>
                <span class="path7"></span>
                <span class="path8"></span>
                <span class="path9"></span>
                <span class="path10"></span>
              </i>
              }@else {
              <i class="ki-duotone ki-moon theme-dark-show fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              }

            </button>
          </ng-container>
          <!--begin::Menu toggle-->
          <!--begin::Menu-->
          <ng-container popover-body>
            <div class="d-flex align-items-center">
              <div
                class="menu menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px"
                data-kt-menu="true" data-kt-element="theme-mode-menu">
                <!--begin::Menu item-->
                <div class="menu-item px-3 my-0">
                  <a (click)="setLightTheme()" class="menu-link px-3 py-2"
                    [ngClass]="{ 'active': theme.getThemeMode() == 'light' }" data-kt-element="mode"
                    data-kt-value="light">
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-night-day fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                        <span class="path9"></span>
                        <span class="path10"></span>
                      </i>
                    </span>
                    <span class="menu-title">Claro</span>
                  </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3 my-0">
                  <a (click)="setDarkTheme()" class="menu-link px-3 py-2"
                    [ngClass]="{ 'active': theme.getThemeMode() == 'dark' }" data-kt-element="mode"
                    data-kt-value="dark">
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-moon fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                    </span>
                    <span class="menu-title">Oscuro</span>
                  </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3 my-0">
                  <a (click)="setSystemTheme()" class="menu-link px-3 py-2"
                    [ngClass]="{ 'active': theme.getThemeMode() == 'system' }" data-kt-element="mode"
                    data-kt-value="system">
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-screen fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                      </i>
                    </span>
                    <span class="menu-title">Sistema</span>
                  </a>
                </div>
                <!--end::Menu item-->
              </div>
            </div>
          </ng-container>
          <!--end::Menu-->
          <!-- </div> -->
        </app-popover>
        <!--end::Theme mode-->

      </div>
      <!--end::Action-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Container-->
  <div class="header-offset"></div>
</div>
<!--end::Header-->