<!--end::Aside-->
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid" id="kt_wrapper">
  <!--begin::Header tablet and mobile-->
  <!--begin::Header-->
  <div
    id="kt_header"
    class="header py-6 py-lg-0"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{lg: '300px'}"
    style="background: #2c294b"
  >
    <!--begin::Container-->
    <div class="header-container container-xxl">
      <!--begin::Page title-->
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 py-3 py-lg-0 me-3"
      >
        <!--begin::Heading-->
        <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
          <span class="" style="color: white">Sedes</span>
          <small class="fs-6 fw-normal pt-2" style="color: gray"
            >Seleccione la sede más cerca para usted</small
          >
        </h1>
        <!--end::Heading-->
      </div>
      <!--end::Page title=-->
      <!--begin::Wrapper-->

      <!--end::Item-->
    </div>
    <!--end::Action-->
    <!--end::Wrapper-->
    <!--end::Container-->
    <div class="header-offset"></div>
  </div>
  <!--end::Header-->
  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
      <!--begin::Hero card-->
      <div class="card mb-12"></div>
      <!--end::Hero card-->
      <!--begin::Row-->
      <div class="row gy-0 mb-6 mb-xl-12">
        <!--begin::Col-->
        <div class="col-md-6">
          <div
            class="card card-md-stretch me-xl-3 mb-md-0 mb-6"
            style="
              border: none;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              display: flex;
              justify-content: center;
            "
          >
            <div
              class="menu-item py-2"
              style="
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
              "
            >
              <img
                src="assets/media/logos/sede.png"
                alt=""
                style="
                  width: 300px;
                  height: auto;
                  border-radius: 15px;
                  cursor: pointer;
                "
                (click)="handleClick($event)"
              />
              <div class="ubi">
                <b
                  data-address="Pediatrik's, Av. Universitaria 1501, Comas 15314"
                  style="font-size: 15px"
                  >Pediatrik's, Av. Universitaria 6102, Comas 15314</b
                >
              </div>
            </div>
          </div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <!--begin::Card-->
          <div class="card card-md-stretch ms-xl-3">
            <!--begin::Body-->
            <div
              class="card-body p-10 p-lg-15"
              style="
                background: ffff;
                display: flex;
                justify-content: center;
                border-radius: 15px;
                border: none;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              "
            >
              <div
                class="menu-item py-2"
                style="
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  flex-direction: column;
                "
              >
                <img
                  src="assets/media/logos/sede.png"
                  alt=""
                  style="
                    width: 300px;
                    height: auto;
                    border-radius: 15px;
                    cursor: pointer;
                  "
                  (click)="handleClick($event)"
                />
                <div class="ubi">
                  <b
                    data-address="Pediatrik's, Av. Universitaria 6102, Comas 15314"
                    style="font-size: 15px"
                    >Pediatrik's, Av. Universitaria 6102, Comas 15314</b
                  >
                </div>
              </div>
              <!--end::Body-->
            </div>
            <!--end::Card-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Content-->
    <div class="footer py-4 d-flex flex-lg-column" id="kt_footer"></div>
  </div>
  <!--end::Wrapper-->
</div>
<!--end::Page-->
<!--end::Root-->
