<!-- <div ngbDropdown placement="top-end" class="d-inline">
    <span ngbDropdownAnchor (mouseover)="dropdown.toggle()">
        {{ item.label }}
      </span>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
      <ng-container *ngFor="let child of item.children">
        <button ngbDropdownItem *ngIf="!child.children">
          {{ child.label +1 }}
        </button>
        <app-dropdown-item *ngIf="child.children" [item]="child"></app-dropdown-item>
      </ng-container>
    </div>
  </div> -->