<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Usuario</h4>
    <button
      type="button"
      class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
      aria-label="Close"
      (click)="close()"
    >
      <i class="ki-duotone ki-cross-square fs-1"
        ><span class="path1"></span><span class="path2"></span
      ></i>
    </button>
  </div>

  <div class="modal-body text-center">
    <p>¿Estás seguro de eliminar este usuario?</p>
    <p>Toda la información relacionada con este usuario se perderá.</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
  </div>