<div class="modal-header">
    <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
        <span>
            <i style="vertical-align: middle;" class="ki-duotone ki-messages text-gray-900 fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
            </i>
        </span>
        Restablecer Contraseña
    </h4>
    <button type="button" class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800" aria-label="Close"
        (click)="close()">
        <i class="ki-duotone ki-cross-square fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </button>

</div>

<div class="modal-body">
    <!-- <h1 class="text-center fw-bold fs-1">Restablecer Contraseña</h1> -->
    <p class="text-center text-gray-700 mb-8">Ingresa tu correo para enviar un enlace para restablecer tu contraseña
    </p>
    <form [formGroup]="form" class="form d-flex flex-column gap-4">
        <label class="required form-label" for="email">Correo Electrónico</label>
        <div class="input-group">
            <span class="input-group-text ">

                <i class="ki-duotone ki-sms fs-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </span>
            <input type="email" id="email" class="form-control" formControlName="email" />

        </div>
        <ng-container>
            <span *ngIf="error.message" class="text-danger">{{ error.message }}</span>
        </ng-container>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
        Cancelar
    </button>
    <button [disabled]="form.invalid || isLoading" type="button" class="btn btn-primary"
        (click)="resetlink()">
        Enviar
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </button>
</div>