<div class="modal-header">
  <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
    <span class="text-primary">
      <i style="vertical-align: text-top;" class="ki-duotone ki-add-files text-gray-900 fs-1">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
      </i>
    </span>
    Solicitar Stock
  </h4>
  <button type="button" class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800" aria-label="Close"
    (click)="close()">
    <i class="ki-duotone ki-cross-square fs-1">
      <span class="path1"></span><span class="path2"></span>
    </i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="solicitarForm" class="form d-flex flex-column gap-4" (ngSubmit)="sendRequest()">
    <div class="form-group">
      <label for="cantidad_solicitar" class="form-label">Cantidad a Solicitar</label>
      <input id="cantidad_solicitar" formControlName="cantidad_solicitar" type="number" class="form-control" placeholder="Ingresa la cantidad" />
      <div *ngIf="solicitarForm.get('cantidad_solicitar')?.invalid && (solicitarForm.get('cantidad_solicitar')?.touched || solicitarForm.get('cantidad_solicitar')?.dirty)">
        <small class="text-danger">La cantidad debe ser mayor que 0.</small>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
  <button [disabled]="solicitarForm.invalid || (isLoading | async)" type="button" class="btn btn-primary" (click)="sendRequest()">
    Enviar solicitud
    <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
  </button>
</div>
