<div class="modal-header">
  <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
    <span class="text-primary">
      <i style="vertical-align: middle;" class="ki-duotone ki-add-files text-gray-900 fs-1">
        <span class="path1"></span><span class="path2"></span>
        <span class="path3"></span></i>
      </span>
    Añadir Personal
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
    aria-label="Close"
    (click)="close()"
  >
    <i class="ki-duotone ki-cross-square fs-1">
      <span class="path1"></span>
      <span class="path2"></span>
    </i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="personalForm" class="form d-flex flex-column gap-4" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nombre" class="required form-label">Nombre</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
        placeholder="Ingresar Nombre"
      />
    </div>
    <div class="form-group">
      <label for="">CV</label>
      <input
        type="file"
        id="cv"
        accept="application/pdf"
        class="form-control"
        (change)="evtSelectFile($event)"
      />
    </div>
    <div class="d-flex gap-3">
      <div class="form-group">
        <label for="dni" class="required form-label">DNI</label>
        <input
          type="text"
          id="dni"
          pattern="[0-9]*"
          formControlName="dni"
          class="form-control"
          placeholder="Ingresar DNI"
        />
      </div>
      <div class="form-group">
        <label for="telefono" class="required form-label">Teléfono</label>
        <input
          type="text"
          id="telefono"
          pattern="[0-9]*"
          formControlName="telefono"
          class="form-control"
          placeholder="Ingresar Telefono"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="correo" class="required form-label">Correo</label>
      <input
        type="email"
        id="correo"
        formControlName="correo"
        class="form-control"
        placeholder="Ingresar Correo"
      />
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="genero" class="required form-label">Género</label>
        <ng-select
          [items]="generosList | async"
          bindLabel="nombre"
          bindValue="id_genero"
          placeholder="Seleccionar"
          formControlName="id_genero"
          [loading]=loadingGenero
          loadingText='Cargando...'
        ></ng-select>
      </div>
      <div class="form-group col-6">
        <label for="sueldo" class="required form-label">Sueldo</label>
        <input
          type="number"
          id="sueldo"
          formControlName="sueldo"
          class="form-control"
          min="0"
          step="0.01"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="id_terapia" class="required form-label">Especialidad</label>

        <ng-select
          [items]="terapiasList | async"
          bindValue="id_terapia"
          placeholder="Seleccionar"
          bindLabel="nombre"
          formControlName="id_terapia"
          [loading]=loadingTerapia
          loadingText='Cargando...'
        ></ng-select>
      </div>
      <div class="form-group col-6">
        <label for="id_sede" class="required form-label">Sede</label>

        <ng-select
          [items]="sedesList | async"
          bindValue="id_sede"
          placeholder="Seleccionar"
          bindLabel="nombre"
          formControlName="id_sede"
          [loading]=loadingSedes
          loadingText='Cargando...'
        ></ng-select>
      </div>
    </div>

    <!-- Selector de Tipo de Personal -->
    <div class="row">
      <div class="form-group col-6">
        <label for="id_tipopersonal" class="required form-label"
          >Tipo de Personal</label
        >
        <ng-select
          [items]="tiposPersonalList | async"
          bindValue="id_tipopersonal"
          placeholder="Seleccionar"
          bindLabel="especialidad"
          formControlName="id_tipopersonal"
          [loading]=loadingTPersonal
          loadingText='Cargando...'
        ></ng-select>
      </div>

      <div class="form-group col-6">
        <label for="id_horario" class="required form-label">Horario</label>
        <ng-select
          [items]="horariosList | async"
          bindValue="id_horariop"
          placeholder="Seleccionar"
          bindLabel="horario_iniciop"
          formControlName="id_horariop"
          [loading]=loadingHorario
          loadingText='Cargando...'
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            {{ item.horario_iniciop }} - {{ item.horario_finalp }}
          </ng-template>
          <ng-template ng-label-tmp let-item="item" let-search="searchTerm">
            {{ item.horario_iniciop }} - {{ item.horario_finalp }}
          </ng-template>
        </ng-select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cancelar
  </button>

  <button
    [disabled]="personalForm.invalid || (isLoading | async)"
    type="button"
    class="btn btn-primary"
    (click)="save()"
  >
    Guardar
    <span
      *ngIf="isLoading | async"
      class="spinner-border spinner-border-sm align-middle ms-2"
    ></span>
  </button>
</div>
