@if (fichaResultExists) {
    <div style="position: absolute; left: 50%; top: 45%; transform: translate(-50%, 0);">
        <div class="d-flex flex-column align-items-center gap-4  border-2 border-dashed border-gray-300 bg-gray-300 rounded-1 px-10 py-8">

            <h1>Ficha Completada</h1>
            <a class="btn btn-info btn-lg" [routerLink]="['/ficha-result', fichaResultExists.id]">Ver Contenido</a>
        </div>
    </div>
}@else {
    <div class="ficha-container">
        <survey [model]="survey"></survey>
    </div>
}