<app-header>
  <ng-container header-title>
    <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
      <span class="" style="color: white">Fichas</span>
    </h1>
  </ng-container>
</app-header>

<div class="ficha-creator-container" cdkDropListGroup>
  <!-- Panel izquierdo -->
  <div class="left-panel">
    <h3>Items</h3>
    <div cdkDropList [cdkDropListData]="items" class="item-list" cdkDropListSortingDisabled="true">
      <div *ngFor="let item of items; let i = index" cdkDrag [cdkDragData]="item" class="draggable-item">
          <i [class]="item.icon"></i> {{ item.name }}
      </div>
    </div>
  </div>

<!-- Panel central -->
<div class="center-panel" >
  <!-- Sección editable -->
  <div class="header-form">
    <div class="logo-container">
      <img alt="Logo" src="assets/media/logos/file.png" class="img-fluid h-35px" title="Pediatriks" />
    </div>
    <div class="editable-header d-flex align-items-center justify-content-between">
      <!-- Título editable -->
      <div class="editable-title text-center flex-grow-1">
        <input
          *ngIf="isEditingTitle"
          [(ngModel)]="editableTitle"
          class="title-input"
          type="text"
          placeholder="Título"
          (keydown.enter)="saveTitle()"
        />
        <h2
          *ngIf="!isEditingTitle"
          (click)="editTitle()"
          class="title-display">
          {{ editableTitle || 'Título' }}
          <i class="fas fa-pencil-alt"></i>
        </h2>
      </div>
    </div>
  </div>

  <!-- Espacio de descripción -->
  <div class="description-container mb-3">
    <textarea [(ngModel)]="description" class="description-input" placeholder="Añade una descripción..."></textarea>
  </div>

  <!-- Contenedor de elementos -->
  <div cdkDropList [cdkDropListData]="formJson.pages[0].elements" class="grid-container" (cdkDropListDropped)="drop($event)">

    <div *ngFor="let element of formJson.pages[0].elements; let i = index" class="grid-cell" [ngClass]="{ 'selected': selectedElement === element }" (click)="selectElement(element)" cdkDrag>
      <!-- Handle de arrastre -->
      <div cdkDragHandle class="drag-handle">
        <i class="fas fa-grip-horizontal text-white"></i>
      </div>

      <ng-container [ngSwitch]="element.type">
        <div *ngSwitchCase="'text'">
          <h4>{{ element.name }}<span *ngIf="element.required" class="text-danger">*</span></h4>
          <input type="text" placeholder="Escribe algo..." [name]="element.name">
        </div>
        <div *ngSwitchCase="'dropdown'">
          <h4>{{ element.name }}<span *ngIf="element.required" class="text-danger">*</span></h4>
          <select [name]="element.name">
            <option *ngFor="let choice of element.choices">{{ choice }}</option>
          </select>
        </div>
        <div *ngSwitchCase="'radiogroup'">
          <h4>{{ element.name }}<span *ngIf="element.required" class="text-danger">*</span></h4>
          <label *ngFor="let choice of element.choices">
            <input type="radio" [name]="element.name"> {{ choice }}
          </label>
        </div>
        <div *ngSwitchCase="'checkbox'">
          <h4>{{ element.name }}<span *ngIf="element.required" class="text-danger">*</span></h4>
          <label *ngFor="let choice of element.choices">
            <input type="checkbox" [name]="element.name"> {{ choice }}
          </label>
        </div>
        <div *ngSwitchCase="'block'" cdkDropList [cdkDropListData]="element.children" class="sub-grid-container" (cdkDropListDropped)="dropNested($event, element)">
          <div *ngFor="let child of element.children; let j = index" class="grid-cell" [ngClass]="{ 'selected': selectedElement === child }" (click)="selectElement(child)" cdkDrag>
            <div cdkDragHandle class="drag-handle">
              <i class="fas fa-grip-horizontal text-white"></i>
            </div>
            <ng-container [ngSwitch]="child.type">
              <div *ngSwitchCase="'text'">
          <h4>{{ element.name }}<span *ngIf="element.required" class="text-danger">*</span></h4>
          <input type="text" placeholder="Escribe algo..." [name]="element.name">
        </div>
        <div *ngSwitchCase="'dropdown'">
          <h4>{{ element.name }}<span *ngIf="element.required" class="text-danger">*</span></h4>
          <select [name]="element.name">
            <option *ngFor="let choice of element.choices">{{ choice }}</option>
          </select>
        </div>
              <!-- Otros tipos según sea necesario -->
            </ng-container>
          </div>
        </div>
      </ng-container>

      <!-- Botones de eliminar y requerido -->
      <div class="element-buttons">
        <button (click)="deleteElement(i)" id="btn-fichas" class="btn btn-icon btn-sm btn-danger">
          Eliminar <span class="ki-solid ki-trash text-white"></span>
        </button>
        <button (click)="toggleRequired(element)" id="btn-fichas" class="btn btn-icon btn-sm bg-success">Requerido *</button>
      </div>
    </div>
  </div>
</div>

<!-- Panel derecho -->
<div class="right-panel">
  <h3>Propiedades del elemento</h3>

  <div *ngIf="selectedElement">
    <label class="form d-flex flex-column gap-4 mt-4">
      Nombre:
      <input [(ngModel)]="selectedElement.name" type="text">
    </label>
    <div *ngIf="selectedElement.type === 'text'">
      <label class="form d-flex flex-column gap-4 mt-4">
        Placeholder:
        <input [(ngModel)]="selectedElement.placeholder" type="text" [placeholder]="selectedElement.placeholder || 'Escribe algo...'">
      </label>
    </div>

    <!--Inicio Select -->
    <div *ngIf="selectedElement.choices">
      <label class="mt-4">Opciones:</label>
      <ul class="form d-flex flex-column gap-4 mt-4">
        <li *ngFor="let ch of selectedElement.choices; let i = index; trackBy: trackById">
          <input [(ngModel)]="selectedElement.choices[i]"  type="text">
        </li>
      </ul>
      <button (click)="addChoice()" class="btn btn-primary">Añadir opción</button>
    </div>
    <!--Fin Select -->

    <div class="checkbox-container mt-4">
      <div class="checkbox-wrapper-4">
        <input class="inp-cbx" id="visible" type="checkbox" [(ngModel)]="selectedElement.visible" />
        <label class="cbx" for="visible">
          <span>
            <svg width="12px" height="10px">
              <use xlink:href="#check-4"></use>
            </svg>
          </span>
          <span>Visible</span>
        </label>
      </div>
      <div class="checkbox-wrapper-4">
        <input class="inp-cbx" id="readOnly" type="checkbox" [(ngModel)]="selectedElement.readOnly" />
        <label class="cbx" for="readOnly">
          <span>
            <svg width="12px" height="10px">
              <use xlink:href="#check-4"></use>
            </svg>
          </span>
          <span>Read-Only</span>
        </label>
      </div>
      <div class="checkbox-wrapper-4">
        <input class="inp-cbx" id="required" type="checkbox" [(ngModel)]="selectedElement.required" />
        <label class="cbx" for="required">
          <span>
            <svg width="12px" height="10px">
              <use xlink:href="#check-4"></use>
            </svg>
          </span>
          <span>Requerido</span>
        </label>
      </div>
    </div>
    <label class="form d-flex flex-column gap-4 mt-4">
      Descripción:
      <textarea [(ngModel)]="selectedElement.description"></textarea>
    </label>
  </div>
  <svg class="inline-svg">
    <symbol id="check-4" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </symbol>
  </svg>
</div>

</div>
