<app-header>
  <ng-container header-title>
    <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
      <span class="" style="color: white">Paquetes</span>
    </h1>
  </ng-container>
</app-header>

<div class="table-responsive container card shadow p-2 px-4 content bg-white">
  <div class="d-flex p-4 justify-content-between align-items-center">
    <h1>Paquetes</h1>
    <button type="button" class="btn btn-primary" (click)="openCrearModal()">
      <span class="d-flex align-items-center">
        <span class="ki-solid ki-plus text-white fs-1"></span>
        <span class="text-white ms-2">Añadir</span>
      </span>
    </button>
  </div>
  <div style="height: 400px" id="myGrid" class="ag-theme-quartz">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      [rowData]="paquetesList  "
      [columnDefs]="colDefs"
      [pagination]="true"
    ></ag-grid-angular>
  </div>

  <!-- <table class="table table-row-dashed w-full">
    <thead class="bg-gray-100 fw-semibold">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad Sesiones</th>
        <th scope="col">Precio Regular</th>
        <th scope="col">Descuento</th>
        <th scope="col">Precio Paquete</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col">Sesiones Restantes</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paquete of filteredList; trackBy: trackById">
        <td>{{ paquete.nombre }}</td>
        <td>{{ paquete.descripcion }}</td>
        <td>{{ paquete.cantidadsesiones }}</td>
        <td>{{ paquete.precioregular | currency }}</td>
        <td>{{ paquete.descuento | currency }}</td>
        <td>{{ paquete.preciopaquete | currency }}</td>
        <td>{{ paquete.fechainicio | date }}</td>
        <td>{{ paquete.fechafin | date }}</td>
        <td>{{ paquete.sesionesrestantes }}</td>
        <td>
          <div class="d-flex align-items-center gap-2">
            <button class="btn btn-icon btn-sm bg-success" (click)="openEditarModal(paquete)">
              <span class="ki-solid ki-pencil text-white fs-3"></span>
            </button>
            <button class="btn btn-icon btn-sm btn-danger" (click)="openBorrarModal(paquete)">
              <span class="ki-solid ki-trash text-white fs-3"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
