<app-header>
  <ng-container header-title>
    <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
      <span class="" style="color: white">Paquetes</span>
    </h1>
  </ng-container>
</app-header>

<div class="table-responsive container card shadow p-2 px-4 content bg-white">
  <div class="d-flex p-4 justify-content-between align-items-center">
    <h1>Paquetes</h1>
    <button type="button" class="btn btn-primary" (click)="loadTabla()">
      <span class="d-flex align-items-center">
        <span class="fa-solid fa-rotate-right"></span>
        <span class="text-white ms-2">Actualizar</span>
      </span>
    </button>
    <button type="button" class="btn btn-primary" (click)="openCrearModal()">
      <span class="d-flex align-items-center">
        <span class="ki-solid ki-plus text-white fs-1"></span>
        <span class="text-white ms-2">Añadir</span>
      </span>
    </button>
  </div>
  <div style="height: 400px" id="myGrid" class="ag-theme-quartz">
    @defer() {
    <ag-grid-angular
      style="width: 100%; height: 100%"
      [rowData]="paquetesList "
      [localeText]="localeText"
      [columnDefs]="colDefs"
      [pagination]="true"
      [loading]="isLoading | async" loadingMessage="Cargando..."
    ></ag-grid-angular>
    }
  </div>
</div>
