<app-header>
  <ng-container header-title>
    <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
      <span class="" style="color: white">Paquetes</span>
    </h1>
  </ng-container>
</app-header>

<div class="content d-flex flex-column flex-column-fluid">
  <div class="container-xxl">
    <div class="d-flex py-4 justify-content-between align-items-center">
      <form data-kt-search-element="form" class="position-relative" autocomplete="off">
        <input type="hidden">
        <i class="ki-duotone ki-magnifier fs-2 search-icon position-absolute top-50 translate-middle-y ms-4"><span
          class="path1"></span><span class="path2"></span></i>
        <input type="search" (input)="onFilterTextBoxChanged()" id="paquete-search"
          class="form-control custom-form-control ps-13" name="search" placeholder="Búsqueda"
          data-kt-search-element="input">
      </form>
      <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-light-primary" (click)="loadTabla()">
          <span class="d-flex align-items-center">
            <span class="fa-solid fa-rotate-right"></span>
            <span class="ms-2">Actualizar</span>
          </span>
        </button>
      </div>
    </div>

    <div *ngIf="isLoading | async" class="loading-container d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4" *ngFor="let paquete of paquetesList | async">
        <div class="card mb-4" style="width: 18rem;">
          <div class="position-relative" style="padding-top: 40px;">
            <img src="{{ paquete.banner_url }}" class="card-img-top" alt="{{ paquete.nombre }}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ paquete.nombre }}</h5>
            <p class="card-text"><strong>Terapias:</strong> {{ getTerapiasNombres(paquete.terapias) }}</p>
            <p class="card-text">{{ paquete.descripcion }}</p>
            <p class="card-text"><strong>${{ paquete.preciopaquete }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
