<app-header>
    <ng-container header-title>
        <h1 class="d-flex flex-column text-white fw-bold my-1">
            {{currentPaciente?.nombre}}
        </h1>
    </ng-container>
</app-header>

<div class="content d-flex flex-column flex-column-fluid">
    <div class="container-xxl" id="kt_content_container">
        <div class="card border-1 border-gray-300 px-2 py-4">
            <div class="row row-mb-gap-3 p-4">
                <div class="col-12 col-md-6">
                    <h3>Información Contacto</h3>

                    <div class="d-flex flex-column gap-3 fs-5 mt-4">
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Nombre:</span><span>{{currentPaciente?.user.name}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Correo:</span><span>{{currentPaciente?.user.email}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Teléfono:</span>
                            <span>{{currentPaciente?.user.telefono}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Dirección:</span>
                            <span>{{currentPaciente?.user.direccion}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h3>Información Personal</h3>

                    <div class="d-flex flex-column gap-3 fs-5 mt-4">
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Fecha Nacimiento:</span><span>{{currentPaciente?.fecha_nacimiento | date: 'dd/MM/yyyy': 'es-ES' }}</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">DNI:</span><span>{{currentPaciente?.dni}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Diagnóstico:</span>
                            <span>{{currentPaciente?.diagnostico}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-info-tabs />
</div>