<!-- Modal para editar evento -->
<div class="modal-edit">
  <div class="modal-header">
    <h4 class="modal-title">
      <span>
        <i style="vertical-align: top;" class="ki-duotone ki-notepad-edit text-gray-900 fs-1"><span
            class="path1"></span><span class="path2"></span></i>
      </span>
      <span>
        Editar Cita &bull;
        <span [ngClass]="getCambiosRestantes() === 0 ? 'text-warning' : ''">
          ({{getCambiosRestantes()}} cambios restantes)
        </span>
      </span>
    </h4>
    <button type="button" class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800" aria-label="Close"
      (click)="closeModal()">
      <i class="ki-duotone ki-cross-square fs-1"><span class="path1"></span><span class="path2"></span></i>
    </button>
  </div>
  <div class="modal-body">
    <span class="text-danger mb-4 d-block" *ngIf="!canEditSession()">No se puede editar esta sesión (0) cambios
      restantes</span>
    <form class="form d-flex flex-column gap-4" [formGroup]="editEventForm">
      <section class="row">
        <div class="form-group col">
          <label class="form-label" for="">Paciente</label>
          <input type="text" readonly class="form-control" value="{{event?.paciente}}">
        </div>
        <div class="form-group col">
          <label class="form-label" for="">Terapia</label>
          <input type="text" readonly class="form-control" value="{{event?.terapia?.nombre}}">
        </div>
      </section>
      <section class="row">
        <div class="form-group col">
          <label class="form-label" for="edit_kt_calendar_datepicker_date">Fecha</label>
          <input type="text" #fechaInicio [readOnly]="isTerapista" class="form-control"
            id="edit_kt_calendar_datepicker_date" formControlName="fecha_inicio"
            placeholder="Seleccionar Fecha de Inicio" />
        </div>
        <div class="form-group col">
          <label class="form-label" for="edit_kt_calendar_datepicker_start_time">Hora de Inicio</label>
          <input type="text" class="form-control" mwlFlatpickr [readOnly]="isTerapista"
            [minuteIncrement]="minutesTerapia" [options]="horaInicioOptions" id="edit_kt_calendar_datepicker_start_time"
            formControlName="hora_inicio" placeholder="Seleccionar Hora de Inicio" />
        </div>
        <div class="form-group col">
          <label class="form-label" for="edit_kt_calendar_datepicker_end_time">Hora de Fin</label>
          <input type="text" class="form-control" mwlFlatpickr [readOnly]="isTerapista"
            [minuteIncrement]="minutesTerapia" [options]="horaFinOptions" id="edit_kt_calendar_datepicker_end_time"
            formControlName="hora_fin" placeholder="Seleccionar Hora de Fin" />
        </div>
      </section>

      <section class="row">
        <div *ngIf="!isTerapista" class="d-flex col-7 flex-column gap-3">
          <div class="form-group">
            <label class="form-label" for="edit_doctor_selection">Seleccionar Especialista</label>
            <ng-select [items]="personalList | async" [loading]="isLoading | async" [loadingText]="'Cargando...'"
              bindValue="id_personal" placeholder="Seleccionar Especialista" bindLabel="nombre"
              formControlName="id_personal"></ng-select>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="sesiones_restantes">
            <label class="form-check-label" for="">Actualizar Especialista en las sesiones restantes</label>
          </div>
        </div>

        <div class="form-group col-5">
          <label class="form-label" for="edit_event_status">Status de la Sesión</label>
          <ng-select [items]="statusList | async" (change)="changeStatus($event)" [loading]="isLoading | async"
            [loadingText]="'Cargando...'" bindValue="id_status" placeholder="Seleccionar Status" bindLabel="nombre"
            formControlName="id_status">
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <div class="d-flex align-items-center gap-2">
                <span [ngClass]="getIcon(item.nombre)"></span>
                {{ item.nombre }}
              </div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item" let-search="searchTerm">
              <div class="d-flex align-items-center gap-2">
                <span [ngClass]="getIcon(item.nombre)"></span>
                {{ item.nombre }}
              </div>
            </ng-template>
          </ng-select>
        </div>
      </section>
      <div *ngIf="selectedStatus" @enterAnimation class="border p-3 border-2 border-dashed border-gray-300 rounded">
        <h4>Fichas Disponibles</h4>
        <div *ngIf="fichasLoading" class="row gap-2">
          <span class="placeholder col-12 rounded-1"></span>
          <span class="placeholder col-12 rounded-1"></span>
        </div>
        <div class="row" *ngFor="let ficha of fichasList | async">
          <div class="border d-flex align-items-center justify-content-between p-2">
            <h5 class="card-title">{{ficha.nombre}}</h5>
            <a href="admin/{{event.sesion.id_sesion}}/{{ficha.id_ficha}}" class="btn btn-sm btn-success rounded-pill" target="_blank">Completar</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    @if (canEditSession()) {
    <button type="button" [disabled]="!editEventForm.valid || (isLoading | async)" class="btn btn-primary"
      (click)="updateEvent()">Actualizar</button>
    }
  </div>
</div>