<div class="d-flex flex-column gap-3 px-4 py-2">
    <ul class="d-flex flex-column list-unstyled gap-2">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Horarios</h1>
            <button class="btn btn-sm" (click)="onDeselect()">Borrar</button>
        </div>
        @for (item of slotTimes; track $index) {
        <li>
            <button class="btn btn-sm btn-outline-primary w-100" (click)="selectTime(item)">{{item}}</button>
        </li>
        }
    </ul>
</div>