<app-header>
    <ng-container header-title>
        <h1 class="d-flex flex-column text-white fw-bold my-1">
            {{currentPersonal?.nombre}}
        </h1>
    </ng-container>
</app-header>

<div class="content d-flex flex-column flex-column-fluid">
    <div class="container-xxl" id="kt_content_container">
        <div class="card border-1 border-gray-300 px-2 py-4">
            <div class="row row-mb-gap-3 p-4">
                <div class="col-12">
                    <h3>Información Personal</h3>

                    <div class="d-flex flex-column gap-3 fs-5 mt-4">
                        <div class="d-flex align-items-center gap-3">
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">DNI:</span><span>{{currentPersonal?.dni}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span class="text-gray-600 d-flex">Especialidad:</span>
                            <span>{{currentPersonal?.terapia.nombre}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-info-tabs />
</div>