<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Terapia</h4>
  <button
    type="button"
    class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
    aria-label="Close"
    (click)="close()"
  >
    <i class="ki-duotone ki-cross-square fs-1"
      ><span class="path1"></span><span class="path2"></span
    ></i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="terapiaForm" class="form d-flex flex-column gap-4">
    <div class="form-group">
      <label class="required form-label" for="name"> Nombre </label>
      <input
        formControlName="nombre"
        id="name"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label class="form-label" for="description"> Descripción </label>
      <textarea
        formControlName="descripcion"
        id="description"
        class="form-control"
      ></textarea>
    </div>
    <div class="form-group">
      <label class="required form-label" for="price"> Precio </label>
      <input
        formControlName="precio"
        id="price"
        min="0"
        step="0.01"
        type="number"
        class="form-control"
      />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cerrar
  </button>
  <button
    [disabled]="terapiaForm.invalid || (isLoading | async)"
    type="button"
    class="btn btn-primary"
    (click)="edit(terapiaForm.value)"
  >
    Actualizar
    <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
  </button>
</div>
