<div class="modal-header">
  <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
    <span>
      <i style="vertical-align: middle;" class="ki-duotone ki-notepad-edit text-gray-900 fs-1"><span
          class="path1"></span><span class="path2"></span></i>
    </span>
    Editar Terapia
  </h4>
  <button type="button" class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800" aria-label="Close"
    (click)="close()">
    <i class="ki-duotone ki-cross-square fs-1"><span class="path1"></span><span class="path2"></span></i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="terapiaForm" class="form d-flex flex-column gap-4">
    <div class="form-group">
      <label class="required form-label" for="name"> Nombre </label>
      <input formControlName="nombre" id="name" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label class="form-label" for="description"> Descripción </label>
      <textarea formControlName="descripcion" id="description" class="form-control"></textarea>
    </div>
    <div class="form-group d-flex flex-column">
      <label class=" form-label" for="">Color de la Terapia</label>
      @defer () {
      <div class="d-flex position-relative  justify-content-center align-items-center">
        <ngx-colors ngx-colors-trigger class="position-absolute" [hideTextInput]="true" [hideColorPicker]="true"
          style="display: inline-block; margin:5px;left: 10px;" formControlName="color"></ngx-colors>
        <input [value]="terapiaForm.get('color')?.value" type="text" readonly class="form-control ps-16">
      </div>
      }
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label class=" form-label" for="">Duración</label>
        <input mwlFlatpickr [options]="timeOptions" formControlName="duracion" class="form-control" type="text">
      </div>

      <div class="form-group col-6">
        <label class="required form-label" for="price"> Precio </label>
        <input formControlName="precio" type="number" step="0.01" min="0" class="form-control"
          placeholder="Ingresar Precio de la Terapia" />
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cerrar
  </button>
  <button [disabled]="terapiaForm.invalid || (isLoading | async)" type="button" class="btn btn-primary"
    (click)="edit(terapiaForm.value)">
    Actualizar
    <span *ngIf="isLoading | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
  </button>
</div>