<div class="modal-header">
  <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
    <span>
      <i style="vertical-align: middle;" class="ki-duotone ki-handcart text-white me-2 fs-2hx">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
      </i>
    </span>
    Adquirir Paquete
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
    aria-label="Close"
    (click)="close()"
  >
    <i class="ki-duotone ki-cross-square fs-1">
      <span class="path1"></span><span class="path2"></span>
    </i>
  </button>
</div>

<div class="modal-body text-center">
  <p>¿Estás seguro de comprar este Paquete?</p>
  <p>Selecciona el paciente que desees para continuar con la compra.</p>

  <ng-select
    [(ngModel)]="selectedPatient"
    [items]="(pacientesList | async)"
    bindLabel="nombre"
    bindValue="id_paciente"
    placeholder="Selecciona un paciente"
    [disabled]="(pacientesList | async)?.length === 0">
  </ng-select>

  <div *ngIf="(pacientesList | async)?.length === 0" class="mt-3 text-danger">
    No hay pacientes disponibles para seleccionar.
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cancelar
  </button>
  <button
    [disabled]="(isLoading$ | async) || !selectedPatient"
    type="button"
    class="btn btn-primary"
    (click)="purchase()"
  >
    Comprar
    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
  </button>
</div>
