<div ngbDropdown placement="bottom-end" class="d-inline-block">
  <button ngbDropdownToggle class="btn btn-secondary">
    Seleccionar Terapia
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <ng-container *ngFor="let terapia of terapiasList | async">
      <div #dropdown="ngbDropdown"  ngbDropdown placement="left-top" class="d-inline-block w-100">
        <div class="d-flex dropdown-content align-items-center">
          <span class="px-3" role="button" ngbDropdownToggle></span>
          <a routerLink="{{ terapia.link }}" ngbDropdownItem class="ps-0">
            {{ terapia.nombre }}
          </a>
        </div>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic2"  *ngIf="terapia.nombre === 'Cronograma General'">
          <app-checkbox [items]="checkBoxList"></app-checkbox>
        </div>
        
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2"  *ngIf="terapia.personal">
          <ng-container *ngFor="let staff of terapia.personal">
            <a routerLink="{{ staff.link }}" ngbDropdownItem>
              {{ staff.nombre }}
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>