<div class="modal-header">
  <h4 class="modal-title d-flex align-items-center gap-1" id="modal-basic-title">
    <span>
      <i style="vertical-align: middle;" class="ki-duotone ki-notepad-edit text-gray-900 fs-1"><span class="path1"></span><span class="path2"></span></i>
    </span>
    Editar Personal
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-icon btn-active-color-primary btn-color-gray-800"
    aria-label="Close"
    (click)="close()"
  >
    <i class="ki-duotone ki-cross-square fs-1">
      <span class="path1"></span>
      <span class="path2"></span>
    </i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" class="form d-flex flex-column gap-4">
    <div class="form-group">
      <label for="nombre" class="required form-label">Nombre</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
      />
    </div>
    <div class="d-flex gap-3">
      <div class="form-group">
        <label for="dni" class="required form-label">DNI</label>
        <input
          type="text"
          id="dni"
          pattern="[0-9]*"
          formControlName="dni"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="telefono" class="required form-label">Teléfono</label>
        <input
          type="text"
          id="telefono"
          pattern="[0-9]*"
          formControlName="telefono"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="correo" class="required form-label">Correo</label>
      <input
        type="email"
        id="correo"
        formControlName="correo"
        class="form-control"
      />
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="genero" class="required form-label">Género</label>
        <ng-select
          [items]="generosList | async"
          bindLabel="nombre"
          bindValue="id_genero"
          placeholder="Seleccionar"
          formControlName="id_genero"
          [loading]=loadingGenero
          loadingText='Cargando...'
        ></ng-select>
      </div>
      <div class="form-group col-6">
        <label for="sueldo" class="required form-label">Sueldo</label>
        <input
          type="number"
          id="sueldo"
          formControlName="sueldo"
          class="form-control"
          min="0"
          step="0.01"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="id_terapia" class="required form-label">Especialidad</label>

        <ng-select
          [items]="terapiasList | async"
          bindValue="id_terapia"
          placeholder="Seleccionar"
          bindLabel="nombre"
          formControlName="id_terapia"
          [loading]=loadingTerapia
          loadingText='Cargando...'
        ></ng-select>
      </div>
      <div class="form-group col-6">
        <label for="id_sede" class="required form-label">Sede</label>

        <ng-select
          [items]="sedesList | async"
          bindValue="id_sede"
          placeholder="Seleccionar"
          bindLabel="nombre"
          formControlName="id_sede"
          [loading]=loadingSedes
          loadingText='Cargando...'
        ></ng-select>
      </div>
    </div>

    <!-- Selector de Tipo de Personal -->
    <div class="row">
      <div class="form-group col-6">
        <label for="id_tipopersonal" class="required form-label"
          >Tipo de Personal</label
        >
        <ng-select
          [items]="tiposPersonalList | async"
          bindValue="id_tipopersonal"
          placeholder="Seleccionar"
          bindLabel="especialidad"
          formControlName="id_tipopersonal"
          [loading]=loadingTPersonal
          loadingText='Cargando...'
        ></ng-select>
      </div>

      <!-- <div class="form-group col-6">
        <label for="id_horario" class="required form-label">Horario</label>
        <ng-select
          [items]="horariosList | async"
          bindValue="id_horariop"
          placeholder="Seleccionar"
          bindLabel="horario_iniciop"
          formControlName="id_horariop"
          [loading]=loadingHorario
          loadingText='Cargando...'
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            {{ item.horario_iniciop }} - {{ item.horario_finalp }}
          </ng-template>
          <ng-template ng-label-tmp let-item="item" let-search="searchTerm">
            {{ item.horario_iniciop }} - {{ item.horario_finalp }}
          </ng-template>
        </ng-select>
      </div> -->
      <div formArrayName="horarios">
        <div class="d-flex justify-content-between mt-4 align-items-center">
          <label class="form-label fw-bolder fs-5" for="">Horarios</label>
          <button class="btn btn-primary fs-10 btn-sm btn-icon" (click)="addHorario()">
            <span><i class="ki-duotone ki-plus">
                <span class="path1"></span><span class="path2"></span>
              </i></span>
          </button>
        </div>

        <ng-container *ngFor="let horario of horarios.controls; let i = index">
          <div class="form-group d-flex flex-column gap-3 position-relative p-4 border-2 mt-2 border-dashed border-gray-300 rounded"
          [formGroupName]="i">
          <div *ngIf="i > 0" class="position-absolute end-0" style="transform: translateY(-18px) translateX(12px);"><button
            class="btn btn-sm fs-10 btn-icon btn-active-color-danger btn-danger" (click)="removeHorario(i)">
            <i class="ki-solid ki-cross"></i>
          </button>
        </div>
          <div class="row">
            <div class="form-group col-4">
              <input type="hidden" name="id_horario" formControlName="id_horario">
              <label for="id_horario" class="required form-label">Dia de Semana</label>
              <ng-select [items]="dias" bindValue="value" placeholder="Seleccionar" bindLabel="name" formControlName="dia_semana"></ng-select>
            </div>  
            <div class="form-group col-4">
              <label for="id_horario" class="required form-label">Hora de Inicio</label>
              <input
                type="text"
                mwlFlatpickr
                placeholder="Inicio"
                [options]="timeOptions"
                formControlName="hora_inicio"
                class="form-control"
              />
            </div>
            <div class="form-group col-4">
              <label for="id_horario" class="required form-label">Hora de Fin</label>
              <input type="text" class="form-control" id="kt_calendar_datepicker_end_time" formControlName="hora_fin"
              mwlFlatpickr [options]="timeOptions" placeholder="Seleccionar Hora de Fin" />
            </div>
          </div>
        </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cancelar
  </button>

  <button
    [disabled]="editForm.invalid || (isLoading | async)"
    type="button"
    class="btn btn-primary"
    (click)="save()"
  >
    Guardar
    <span
      *ngIf="isLoading | async"
      class="spinner-border spinner-border-sm align-middle ms-2"
    ></span>
  </button>
</div>
