/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";

:root {
  --select2-single-height: fit-content;
  --select2-multiple-height: 28px;

  --select2-selection-border-radius: 0.95rem;
  --select2-selection-background: #fff;
  --select2-selection-disabled-background: #eee;
  --select2-selection-border-color: #aaa;
  --select2-selection-focus-border-color: #000;
  --select2-selection-text-color: #111;
  --select2-selection-line-height: 28px;
  --select2-selection-padding: 0.45rem 0.45rem 0.45rem 8px;
}

::-webkit-scrollbar {
  width: 6px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent gray */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3); /* Darker on hover */
}


.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
}

body {
  font-feature-settings: "calt", "cv02", "cv03", "cv04", "cv06", "cv08", "cv11",
    "tnum";
}

button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.copy-icon {
  cursor: pointer;
  inset-block: 0.5rem;
  right: 0.75rem;
}
