<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header border-0 justify-content-end">
      <!--begin::Edit-->
      <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-success" data-bs-toggle="tooltip" title="Edit Event" id="kt_modal_view_event_edit" (click)="openEditModal()">
        <i class="ki ki-solid ki-pencil fs-1"></i>
      </div>
      <!--end::Edit-->
      <!--begin::Delete-->
      <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-danger" data-bs-toggle="tooltip" title="Delete Event" id="kt_modal_view_event_delete" (click)="deleteEvent()">
        <i class="ki ki-solid ki-trash fs-1"></i>
      </div>
      <!--end::Delete-->
      <!--begin::Close-->
      <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-primary" data-bs-toggle="tooltip" title="Hide Event" (click)="closeModal()">
        <i class="ki ki-solid ki-cross-square fs-1"></i>
      </div>
      <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body py-4"  style="margin-top: -1.75rem;">
      <!--begin::Row-->
      @if (isLoading | async) {
        <div style="height: 300px;" class="d-flex align-items-center justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }@else {
        <div class="d-flex gap-5 mb-8 justify-content-center flex-column">
          <div class="d-flex align-items-center gap-5">
            <i class="fas fa-calendar-alt fs-1 text-muted"></i>
            <div class="">
              <div class="d-flex gap-2 flex-column">
                <span class="fs-3 fw-bold" data-kt-calendar="event_name">
                  {{event?.paciente}} #{{sessionInfo()}}
                </span>
                <div class="fs-6" data-kt-calendar="event_description">
                  <span class="badge badge-light-success">{{event?.terapia.nombre}}</span>
                </div>
              </div>
             
            </div>
          </div>
          <section class="d-flex flex-column gap-3">
            <div class="d-flex align-items-center gap-5">
             <i class="fas fa-clock fs-2 text-success"></i>
              <div class="fs-6 d-flex  gap-5 flex-row">
                <span class="fw-bold fs-6">Inicia:</span>
                <span data-kt-calendar="event_start_date">{{event?.sesion.hora_inicio }}</span>
              </div>
            </div>
            <div class="d-flex align-items-center gap-5">
              <i class="fas fa-clock fs-2 text-danger"></i>
              <div class="fs-6 d-flex  gap-5 flex-row">
                <span class="fw-bold">Termina:</span>
                <span data-kt-calendar="event_end_date">{{event?.sesion.hora_fin ? (event?.sesion.hora_fin ) : 'No especificado'}}</span>
              </div>
            </div>
          </section>
          <div class="d-flex align-items-center gap-5">
            <i class="fas fa-user-md fs-1 text-muted"></i>
            <div class="d-flex align-items-center gap-5">
              <span class="fw-bold fs-6">Terapeuta:</span>
              <div class="fs-6" data-kt-calendar="event_doctor">{{event?.personal}}</div>
            </div>
          </div>
          <!-- <div class="d-flex align-items-center gap-5">
            <i class="fas fa-user fs-1 text-muted"></i>
            <div class="d-flex align-items-center gap-3">
              <span class="fw-bold fs-6">Paciente:</span>
              <div class="fs-6" data-kt-calendar="event_patient">{{event?.paciente}}</div>
            </div>
          </div> -->
          <div class="d-flex align-items-center gap-5">
            <i class="fas fa-map-marker-alt fs-1 text-muted "></i>
            <div class="d-flex align-items-center gap-3">
              <span class="fw-bold fs-6">Sede:</span>
            <div class="fs-6" data-kt-calendar="event_location">{{event?.sede}}</div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>