<div class="modal-content">

    <div *ngIf="event" class="modal-header border-0 justify-content-end">
      <!--begin::Edit-->
      <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-success" data-bs-toggle="tooltip" title="Edit Event" id="kt_modal_view_event_edit" (click)="openEditModal()">
        <i class="ki ki-solid ki-pencil fs-1"></i>
      </div>
      <!--end::Edit-->
      <!--begin::Delete-->
      <div *ngIf="isAdmin" class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-danger" data-bs-toggle="tooltip" title="Delete Event" id="kt_modal_view_event_delete" (click)="deleteEvent()">
        <i class="ki ki-solid ki-trash fs-1"></i>
      </div>
      <!--end::Delete-->
      <!--begin::Close-->
      <div class="btn btn-icon btn-sm btn-color-gray-500 btn-active-icon-primary" data-bs-toggle="tooltip" title="Hide Event" (click)="closeModal()">
        <i class="ki ki-solid ki-cross-square fs-1"></i>
      </div>
      <!--end::Close-->
    </div>

    <div class="modal-body py-4"  style="margin-top: -1.75rem;">

      @if (isLoading | async) {
        <div style="height: 381px;" class="d-flex align-items-center justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }@else {
        <div class="d-flex gap-5 mb-8 justify-content-center flex-column">
          <div class="d-flex flex-column gap-2">
              <div class="d-flex gap-2 w-100 flex-column">
                <span class="fs-3 fw-bold" data-kt-calendar="event_name">
                  {{event?.paciente}} 
                </span>
                <div class="fs-6 d-flex justify-content-between align-items-center" data-kt-calendar="event_description">
                  <span class="badge badge-secondary" style="margin-left: -3px;">{{event?.terapia.nombre}}</span>
                  <span class="fw-bold">{{sessionInfo()}}</span>
                </div>
              </div>
             
              <div class="fs-6 d-flex align-items-center justify-content-between gap-2">
                <div>
                  <span class="d-inline-block me-2" [ngClass]="sessionStatus(event?.sesion.status.nombre)"></span>
                  <span class="fw-medium">{{event?.sesion.status.nombre}} </span>
                </div>
                <div *ngIf="event?.paquete">
                  <span class="badge badge-info">{{event?.paquete.nombre}}</span>
                </div>
              </div>
          </div>
          <section class="d-grid mt-6 gap-4">
            <div class="d-flex align-items-center justify-content-between">
              <div class="fs-6 d-flex align-items-center gap-2">
                <i class="ki-outline ki-calendar fs-1 text-primary"></i>
                <span class="fw-bold fs-6">Fecha:</span>
              </div>
              <span data-kt-calendar="event_start_date">{{event?.sesion.fecha_inicio | date: 'fullDate': 'es-ES' }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="fs-6 d-flex align-items-center gap-2">
                <i class="ki-outline ki-time fs-1 text-success"></i>
                <span class="fw-bold fs-6">Inicia:</span>
              </div>
              <span data-kt-calendar="event_start_date">{{event?.sesion.hora_inicio }}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <i class="ki-solid ki-time fs-1 text-danger"></i>
                <span class="fw-bold">Termina:</span>
              </div>
              <span data-kt-calendar="event_end_date">{{event?.sesion.hora_fin ? (event?.sesion.hora_fin ) : 'No especificado'}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <i class="ki-solid ki-user fs-1 text-gray-700"></i>
                <span class="fw-bold fs-6">Terapeuta:</span>
              </div>
              <span class="fs-6" data-kt-calendar="event_doctor">{{event?.sesion.personal.nombre}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <i class="ki-solid ki-geolocation fs-1 text-gray-700 "></i>
                <span class="fw-bold fs-6">Sede:</span>
              </div>
              <span class="fs-6" data-kt-calendar="event_location">{{event?.sede.nombre}}</span>
            </div>
          </section>
                  
        </div>
      }
    </div>
  </div>