<app-header>
  <ng-container header-title>
    <h1 class="d-flex flex-column text-gray-900 fw-bold my-1">
      <span class="" style="color: white">Inventario</span>
    </h1>
  </ng-container>
</app-header>

<div class="content d-flex flex-column flex-column-fluid">
  <div class="container-xxl">
    <div class="d-flex flex-wrap gap-3 py-4 justify-content-between align-items-center">
      <form data-kt-search-element="form" class="position-relative flex-grow-1 flex-md-grow-0" autocomplete="off">
        <input type="hidden">
        <i class="ki-duotone ki-magnifier fs-2 search-icon position-absolute top-50 translate-middle-y ms-4"><span
            class="path1"></span><span class="path2"></span></i>

        <input type="search" [formControl]="searchControl" id="item-search"
          class="form-control custom-form-control ps-13" name="search" placeholder="Búsqueda"
          data-kt-search-element="input">
      </form>
      <div class="d-flex flex-grow-1 flex-md-grow-0 justify-content-between align-items-center gap-3">
        <button type="button" class="btn btn-light-primary" (click)="loadTabla()">
          <span class="d-flex align-items-center">
            <span class="fa-solid fa-rotate-right"></span>
            <span class="ms-2">Actualizar</span>
          </span>
        </button>
        <button class="btn btn-secondary" (click)="openTablaInventarioModal()">
          <span class="ki-solid ki-abstract-28 fs-4"></span>
          <span class="ms-2">Registros</span>
        </button>
        <button type="button" class="btn btn-primary" (click)="openCrearModal()">
          <span class="d-flex align-items-center">
            <span class="ki-solid ki-plus text-white fs-1"></span>
            <span class="text-white ms-2">Nuevo</span>
          </span>
        </button>
      </div>
    </div>

    <div *ngIf="isLoading | async" class="loading-container d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>


    <div class="row my-5 row-mb-gap-3">
      <div class="col-md-4" *ngFor="let item of inventarioList | async">
        <div class="card border-1 border-gray-300">
          <!-- Contenedor de botones e imagen -->
          <div class="position-relative">

            <!-- Contenedor de la imagen con sombra y borde -->
            <div class="image-container" [ngClass]="{ 'img-inventory': item.banner_url?.includes('default.png') }"
              style="overflow: hidden;">
              <img src="{{ !item.banner_url?.includes('default.png') ?  item.banner_url : banner_url }}"
                class="card-img-top" alt="{{ item.nombre }}" style="width: 100%; height: auto;">
            </div>
          </div>

          <!-- Información del inventario -->
          <div class="p-6">
            <h5 class="card-title fs-1">{{ item.nombre }}</h5>
            <p class="card-text">{{ item.descripcion }}</p>
            <p class="card-text"><strong>Stock:</strong> {{ item.stock }}</p>

            <div class="d-flex justify-content-between align-items-center gap-2">
              <button type="button" (click)="openAgregarModal(item)"
                class="btn btn-light-primary btn-sm d-flex justify-content-center align-items-center">

                <i class="ki-duotone ki-parcel fs-3">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  <span class="path4"></span>
                  <span class="path5"></span>
                </i> Agregar
              </button>
              <div class="d-flex gap-2 align-items-center">
                <button type="button" (click)="openEditarModal(item)" class="btn btn-icon btn-sm bg-success">
                  <span class="ki-solid ki-pencil text-white"></span>
                </button>
                <button type="button" (click)="openBorrarModal(item)" class="btn btn-icon btn-sm btn-danger">
                  <span class="ki-solid ki-trash text-white"></span>
                </button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>